<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<center>
<h1>Добавление пользователя</h1>
<br/><br/>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Введите имя пользователя: </label>
        <input type="text" th:field="*{userName}" id="username"/>
        <br/><br/>
        <label for="lastName">Введите фамилию пользователя: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/><br/>
        <label for="email">Введите Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/><br/>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/><br/>
        <label for="password">Введите пароль: </label>
        <input type="password" th:field="*{password}" id="password"/>

        <br/><br/>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${roles}"
                       th:text="${role.role}"
                       th:value="${role.id}"
                       th:field="*{listRole}"/>
            </label>
        </p>
        <input type="submit" value="Добавить пользователя"/>
    </form>
    <p> Вернуться к  <a href="/admin"> списку пользователей</a></p>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout!"/>
    </form>
</div>
</center>
</body>
</html>